<div style="background-color:#eee;padding:8px;">
  <h1>{{headlineText}}</h1>

  {% if display.wordCount %}
    <p>{{wordCountLabel}} : {{wordCount}}</p>
  {% endif %}

  {% if display.characterCount %}
    <p>{{characterCountLabel}} : {{characterCount}}</p>
  {% endif %}

  {% if display.readTime %}
    <p>{{readTimeInMinutesLabel}} : {{readTimeInMinutes}}</p>
  {% endif %}

  {{rawText}}
</div>