<div class="event-summary">
<a class="event-summary__date event-summary__date--beige t-center" href="{{post.link}}">

		<span class="event-summary__month">{{post.date | date("M")}}</span>
		<span class="event-summary__day">{{post.date | date("d")}}</span>
	</a>
	<div class="event-summary__content">
		<h5 class="event-summary__title headline headline--tiny">
			<a href="{{post.link}}">{{post.title}}</a>
		</h5>
		<p>
			{{post.preview.length(18).read_more('Learn&nbsp;more')}}
		</p>
	</div>
</div>